<!DOCTYPE html>
<html>
<head>
	<title>SecureML</title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	 <link href="fontawesome-free-5.9.0-web/css/all.css" rel="stylesheet"> <!--load all icon styles -->
	 <!--link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"-->
	
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bahianita&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	
	
	<link rel="stylesheet" href="{{ url_for('static', filename='s.css')}}">

</head>

<body>

	<section>
		<div class="uno" style="background-image:url('/static/images/x.jpg')">
			<section>
				<header>
		<div class="header_in">
	
			<div class="container">
				<div class="row">
					<div class="col-md-6">
	
						<div class="logo">
							<a href="/index/">SecureML</a>
						</div>
	
					</div>
	
					<div class="col-md-4">
	
	
						<ul class="social_icon">
	
							<li><a href="https://www.facebook.com"> <i class="fab fa-facebook-square"></i></a></li>
							<li><a href="https://twitter.com/login?lang=en"> <i class="fab fa-twitter-square"></i></a></li>
							<li><a href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram"></i></a></li>
							<li><a href="https://www.linkedin.com/uas/login"><i class="fab fa-linkedin"></i></a></li>
	
						</ul>
	
	 
	
					</div>
	
					<div class="col-md-2">
						<div class="usern">
						 <i class="far fa-user"></i>
						</div>
					</div>
	
					
	
					
	
				</div>
	
			</div>
		</div>
	
	</header>
	
	
				  <div class="searchblock">
					<div class="container">
						<div class = "findcollege row">
							<p>Privacy as a Priority</p>
						</div>
						<form>
						<div class="row">
							<input type="submit" formaction="/choices/" value="Use me" id="studlogbut" href="/choices/"/>
							<!--a id="Forget" href="">Forgot Password?</a-->
					  </div>
						<div class="row">
							  <input type="submit" value="Login" id="studlogbut"/>
							  <!--a id="Forget" href="">Forgot Password?</a-->
						</div>
						<div class="row">
							  <input type="submit" value="Sign Up" id="studlogbut"/>
							  <!--a id="Forget" href="">Forgot Password?</a-->
						</div>
						</form>
					</div>
				</div>
			</section>
		</div>	
	</section>
	

	<footer>
		<div class="container">
			<div class="endline">
				<p>ABOUT / HELP / CONTACT US / SITE GUIDELINES / AD CHOICES / TERMS & CONDITIONS / PRIVACY POLICY / COPYRIGHT COMPLIANCE POLICY - All Rights Reserved.</p>
			</div>  
		</div>
	</footer>
	


</body>
</html>
