<!DOCTYPE html>
<html>
<head>

<title>SecureML</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <link href="fontawesome-free-5.9.0-web/css/all.css" rel="stylesheet"> <!--load all icon styles -->
 <!--link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"-->

<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bahianita&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">


<link rel="stylesheet" href="{{ url_for('static', filename='s.css')}}">


<style type="text/css">
header {
background-color: #226A9E;
}
</style>
</head>

<body>

<header>
	<div class="header_in">
		<div class="container">
			<div class="row">

				<div class="col-md-6">
					<div class="logo">
						<a href="/index/" style="color: #ffffff;"> SecureML</a>
					</div>
				</div>

				<div class="col-md-2">
					<div class="usern">
					 <i class="far fa-user"></i>
					</div>
				</div>				

			</div>
		</div>
	</div>
</header>


<section>
<div class="uploadbox">
	<div class="container">
		<div class="uploadtext row">
			<h id="uploaddesc">Upload Sound Data</h>
		</div>
	</div>
</div>
</section>

</body>
</html>